@font-face {
    font-family: 'Big Shoulders Text';
    src: url('../fonts/BigShouldersText-Regular.woff2') format('woff2'),
        url('../fonts/BigShouldersText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Big Shoulders Text';
    src: url('../fonts/BigShouldersText-Bold.woff2') format('woff2'),
        url('../fonts/BigShouldersText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Big Shoulders Text';
    src: url('../fonts/BigShouldersText-Medium.woff2') format('woff2'),
        url('../fonts/BigShouldersText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Big Shoulders Text';
    src: url('../fonts/BigShouldersText-Black.woff2') format('woff2'),
        url('../fonts/BigShouldersText-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
body{
	font-family: 'Noto Sans', sans-serif;
	font-size: 13px;
	color: #222222;
}
a{
	color: #448ccb;
}
a:hover{
	text-decoration: none;
	color: #448ccb;
}
.container{
	max-width: 1200px;
}
.mobile-menu{
	position: absolute;
	left: 15px;
}
/*================ Login/ Register =============*/
.wrapepr-account #footer{
	background: #fff;
	border-top: 1px solid #dddddd;
	padding: 30px 0;
}
.wrapepr-account #footer .absolute-footer p{
	margin-bottom: 0;
}
.login-page .btn-smb{
	height: 50px;
	line-height: 50px;
	font-size: 21px;
}
.title-form{
	font-size: 24px;
	font-weight: bold;
	font-family: 'Big Shoulders Text';
	margin-bottom: 30px;
	text-align: center;
}
.title-form i{
	margin-right: 5px;
}
.login-left{
	background: #eeeeee;
	padding: 30px;
	min-height: 325px;
}
.login-left input{
	height: 50px;
	border: none;
	border-radius: 0;
	padding: 0 20px;
}
#main-content.login-page{
	background: #fff;
	padding: 50px 0 100px;
	min-height: 600px;
}
.sub-title{
	font-size: 14px;
	margin-bottom: 20px;
}
.dk-btn{
	border-bottom: 1px solid #cccccc;
	padding-bottom: 45px;
	margin-bottom: 25px;
}
.dk-btn a{
	max-width: 220px;
	margin: 0 auto;
}
.dk-btn a:hover{
	color: #fff;
}
.social-login{
	text-align: center;
	margin: 0 auto;
}
.btn-social{
	border-radius: 20px;
	border: 1px solid #999999;
	width: 160px;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 12px;
	color: #999999;
	font-size: 14px;
	margin: 0 auto;
	line-height: 0;
}
.btn-social i{
	margin-right: 25px;
	font-size: 21px;
}
.form-reg{
	background: #eeeeee;
	max-width: 390px;
	margin: 0 auto;
	padding: 30px;
}
.form-reg input{
	border: none;
	height: 50px;
	border-radius: 0;
	padding: 0 20px;
}
.register-form .social-login{
	border-top: 1px solid #cccccc;
	max-width: 390px;
	margin: 40px auto;
	padding-top: 30px;
}
.group-login{
	margin: 0 auto;
	max-width: 335px;
}
.datepicker{
	position: relative;
}
.gr-date{
	position: relative;
}
.gr-date:after{
	font-family: 'Font Awesome 5 Free';
	font-weight: 400;
	content: "\f073";
	display: inline-block;
	position: absolute;
	right: 20px;
	top: 15px;
	font-size: 16px;
}
/*================ Header ========= */
.top-bar{
	background: #222222;
	height: 72px;
	display: flex;
	align-items: center;
}
.top-bar>.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top-bar .menu-right{
	display: flex;
	align-items: center;
}
.top-bar .menu-right ul{
	display: flex;
	color: #fff;
	margin-bottom: 0;
}
.top-bar .menu-right ul li:not(:last-child){
	margin-right: 50px;
}
.top-bar .menu-right ul li i{
	color: #cfb25b;
}
.main-menu{
	background: #fff;
}
.main-menu ul{
	margin-bottom: 0;
}
.main-menu ul li{
	float: left;
	height: 65px;
	align-items: center;
	display: flex;
	margin-right: 45px;
	border-bottom: 3px solid transparent;
}
.main-menu ul li:hover, .main-menu ul li.active{
	border-bottom: 3px solid #fac800;
}
.main-menu ul li a{
	font-size: 18px;
	font-family: 'Big Shoulders Text';
	font-weight: 500;
	color: #222222;
	text-transform: uppercase;
}
/*==================== main-content ============*/
#main-content{
	background: #fff;
	padding: 30px 0 100px;
}
.br-left ul li{
	display: flex;
	align-items: center;
	background: #fff;
	margin-bottom: 3px;
	padding: 0 25px;
	height: 80px;
}
.br-left ul li.active i{
	color: #fac800;
}
.br-left ul li i{
	font-size: 30px;
	margin-right: 20px;
	width: 30px;
	text-align: center;
}
.br-left ul li .z-ct h4{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}
.br-left ul li .z-ct p{
	font-size: 11px;
	margin-bottom: 0;
}
.br-right{
	padding: 40px;
	background: #fff;
	min-height: 650px;
}
.title-block h4{
	font-weight: bold;
	color: #cccccc;
	font-size: 14px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 0;
	overflow: hidden;
}
.title-block h4:after{
	position: absolute;
	content: '';
	width: 100%;
	height: 1px;
	background: #eeeeee;
	bottom: 0;
	margin-left: 15px;
}
.form-attribute{
	margin-top: 30px;
}
.form-attribute label{
	max-width: 245px;
	width: 100%;
}
.btn-kdgi{
	background: #fac800;
	border: none;
	min-width: 130px;
	height: 38px;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	font-family: 'Big Shoulders Text';
	text-transform: uppercase;
	font-size: 16px;
	border-radius: 5px;
	display: block;
}
.group-info-left ul li{
	display: flex;
	width: 290px;
	align-items: center;
	justify-content: space-between;
}
.group-account label{
	margin-bottom: 0;
}
.group-account ul li{
	margin-bottom: 25px;
}
.group-info-medium ul li{
	display: flex;
	width: 255px;
	align-items: center;
	justify-content: space-between;
}
/*============================ Footer =============*/
#footer{
	background: #000000;
	color: #cccccc;
	padding: 50px 0 0;
}
.ft-widget-1{
	max-width: 401px;
	font-size: 13px;
	float: left;
	margin-right: 85px;
}
.ft-widget-1 ul li:not(:last-child){
	margin-bottom: 10px;
}
.ft-widget-1 ul li img{
	margin-right: 10px;
	max-height: 17px;
}
.logo-ft{
	margin-bottom: 30px;
}
.title-widget{
	font-size: 18px;
	font-weight: bold;
	font-family: 'Big Shoulders Text';
	color: #fac800;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.ft-widget-2{
	width: 100%;
	max-width: 115px;
	float: left;
	margin-right: 70px;
	font-size: 13px;
	color: #ffffff;
}
.ft-widget-3{
	width: 100%;
	max-width: 129px;
	float: left;
	margin-right: 70px;
	font-size: 13px;
}
.ft-widget ul{
	padding-left: 15px;
}
.ft-widget ul li{
	margin-bottom: 20px;
	list-style: outside;
}
.ft-widget ul li a{
	font-size: 13px;
	color: #fff;
}
.ft-widget-4{
	max-width: 300px;
	float: left;
	width: 100%;
}
.ft-widget-4 input{
	height: 42px;
	line-height: 42px;
	color: #999999;
	font-size: 13px;
	border-radius: 5px;
}
.btn-smb{
	background: #fac800;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Big Shoulders Text';
	width: 100%;
	display: block;
	height: 42px;
	line-height: 42px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	border-radius: 5px;
	border: none;
}
.list-social{
	display: flex;
	margin-top: 30px;
}
.list-social a{
	background: #fac800;
	width: 48px;
	height: 48px;
	display: block;
	line-height: 48px;
	border-radius: 50%;
	text-align: center;
	margin-right: 15px;
}
.list-social a:hover{
	background: #fff;
}
.footer-top{
	padding-bottom: 60px;
	border-bottom: 1px solid #666666;
	margin-bottom: 30px;
}
.absolute-footer p{
	color: #666666;
	font-size: 13px;
	margin-bottom: 30px;
}
/*==========================Bao Mat ===========*/
#menu-security{
	border: none;
	display: flex;
	justify-content: space-between;
}
#menu-security li a{
	font-weight: bold;
	color: #222222;
	border: none;
	border-radius: 5px;
}
#menu-security li:first-child a{
	padding-left: 0;
}
#menu-security li:last-child a{
	padding-right: 0;
}
#menu-security li.active a{
	background: #448ccb;
	color: #fff;
	border-radius: 5px;
}
#menu-security-content{
	margin-top: 50px;
}
#menu-security-content input{
	border-radius: 0;
	height: 30px;
}
#menu-security-content .btn-smb{
	max-width: 130px;
}
/*============================== Nap KDG ================*/
.step-kdg-nap{
	background: #448ccb;
	height: 50px;
	padding: 0 20px;
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
}
.step-kdg-nap li:not(:last-child){
	margin-right: 20px;
}
.select-network ul{
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}
.select-network ul li a{
	background: #cccccc;
	display: flex;
	border-radius: 5px;
	min-width: 180px;
	height: 60px;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.select-network ul li a img{
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.select-network ul li a:hover{
	background: #fac800;
}
.select-network ul li a:hover img{
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.form-nap{
	max-width: 440px;
	margin: 0 auto;
}
.form-nap input{
	height: 30px;
	border-radius: 0;
}
.form-nap label{
	display: flex;
	align-items: center;
	margin-bottom: 0;
}
.form-nap .btn-smb{
	max-width: 130px;
}
.break-bottom{
	background: #eeeeee;
	padding: 40px;
}
.break-bottom p{
	margin-bottom: 5px;
}
.selprice{
	margin: 0 auto;
	padding: 0;
}
.bxselprice{
    width: 580px;
    margin: 0 auto;
}
ul.selprice li.selected, ul.selprice li:hover{
    cursor: pointer;
    border: 1px solid #009bdf;
    margin: 0 -1px -1px 0;
    z-index: 1;
    background: #f0f8fc;
}
ul.selprice li{
    width: 132px;
    height: 38px;
    display: flex;
    align-items: center;
    float: left;
    background: #fff;
    padding: 10px;
    font-weight: 700;
    position: relative;
    margin: 0 -1px -1px 0;
    z-index: 0;
    cursor: pointer;
    zoom: 1;
}
.bxselpriceatm ul.selprice li span {
    font-weight: 400;
    color: #777;
}
.icncheck {
    width: 18px;
    height: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-position: -96px -496px;
}
.zpsprt {
    background-image: url(../images/zpsprt.png);
}
.bxselpriceatm ul.selprice li span.hidden {
    display: none;
}
.bxitem, ul.selprice li {
    border: 1px solid #e7e7e7;
}
input[type=radio] {
    display: none;
}
input[type=checkbox], input[type=radio] {
    border: 0;
    vertical-align: middle;
}
.bxselpriceatm ul.selprice li span {
    font-weight: 400;
    color: #777;
}
input[type=radio]+label span.radio {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: -3px;
    background-position: 0 0;
    cursor: pointer;
}
input[type=radio]+label span.radio, input[type=checkbox]+label span.checkbox {
    background: url(../images/eformsprt.png) no-repeat;
}
input[type=radio]+label span.radio.current {
    background-position: 0 -32px;
}
ul.selprice li label{
	margin-bottom: 0;
}
.formrow .textinput.colinput {
    width: 74px;
    padding: 3px 6px;
    font-size: 12px;
}
.logobanksprt {
    background-image: url(../images/bankinglogos_sprt.png)
}
.icobank {
    width: 85px;
    height: 38px;
    display: inline-block;
    vertical-align: -13px;
    margin-top: -4px;
}
.selbank ul li, .world-sell ul li{
	height: 57px;
}
.icobank.abb, .icobank.anbinhbank {
    background-position: -96px -260px;
}
.icobank.vcb,
.icobank.vietcombank {
    background-position: 0 3px
}
.icobank.viettinbank,
.icobank.vtb {
    background-position: 0 -40px
}
.icobank.dab,
.icobank.dongabank {
    background-position: 0 -77px
}
.icobank.eib,
.icobank.eximbank {
    background-position: 0 -125px
}
.icobank.tcb,
.icobank.techcombank {
    background-position: 0 -173px
}
.icobank.maritimebank,
.icobank.mrtb {
    background-position: 0 -215px
}
.icobank.nab,
.icobank.namabank {
    background-position: 0 -269px
}
.icobank.tpb,
.icobank.tpbank {
    background-position: 0 -330px
}
.icobank.ocb,
.icobank.ocbbank {
    background-position: -208px -235px
}
.icobank.agb,
.icobank.agribank {
    background-position: -96px 3px
}
.icobank.bidv,
.icobank.bidvbank {
    background-position: -96px -39px
}
.icobank.sacombank,
.icobank.scb {
    background-position: -96px -79px
}
.icobank.vib,
.icobank.vibbank {
    background-position: -96px -122px
}
.icobank.mb,
.icobank.mbbank {
    background-position: -96px -171px
}
.icobank.acb,
.icobank.achaubank {
    background-position: -96px -215px
}
.icobank.abb,
.icobank.anbinhbank {
    background-position: -96px -260px
}
.icobank.vpb,
.icobank.vpbank {
    background-position: -96px -293px
}
.icobank.oceanbank,
.icobank.oceb {
    background-position: -96px -331px
}
.icobank.hdb,
.icobank.hdbank {
    background-position: -208px 7px
}
.icobank.vab,
.icobank.vietabank {
    background-position: -208px -32px
}
.icobank.ncbbank,
.icobank.nvb {
    background-position: -208px -70px
}
.icobank.ctbank,
.icobank.sgb {
    background-position: -208px -143px
}
.icobank.gpb,
.icobank.gpbank {
    background-position: -208px -100px
}
.icobank.pgb,
.icobank.pgbank {
    background-position: -208px -185px
}
.icobank.shbbank {
    background-position: 0 -373px;
}
.icobank.seabank {
    background-position: 0 -422px;
}
.icobank.bvbank {
    background-position: 0 -468px;
}
.icobank.lbbank {
    background-position: 0 -512px;
}
.icobank.visa {
    background-position: -208px -285px
}
.icobank.master {
    background-position: -208px -333px
}
.icobank.jcb {
    background-position: -208px -380px
}
.world-sell h6{
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: 14px;
}
.bottom-btn-submit .btn-smb{
	max-width: 130px;
	margin: 0 auto;
}
.vi-dien-tu ul{
	display: flex;
	justify-content: center;
}
.vi-dien-tu ul li{
	margin: 0 20px;
}
.vi-dien-tu ul li img{
	border-radius: 5px;
}
.box-filter select{
	height: 38px;
	border-radius: 0;
	color: #bbbbbb;
}
.box-filter .btn-smb{
	height: 38px;
	line-height: 38px;
}
.group-select-game ul{
	display: flex;
	justify-content: center;
}
.group-select-game ul li{
	margin: 0 15px;
	text-align: center;
	cursor: pointer;
}
.group-select-game ul li p{
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 15px;
}
.group-select-game ul li.selected p{
	font-weight: bold;
	color: #448ccb;
}
/*==================== NEWS ================*/
.news-left ul.groupbanner-ads li{
	height: auto;
	padding: 0;
	background: transparent;
	display: block;
	margin-bottom: 10px;
}
.news-left ul.groupbanner-ads li img{
	width: 100%;
}
.archive-menu ul{
	border-bottom: 1px solid #cccccc;
	margin-bottom: 40px;
	padding-bottom: 20px;
}
.archive-menu ul li a{
	font-weight: bold;
	color: #222222;
	text-transform: uppercase;
	margin: 0 15px;
}
.archive-menu ul li.active a{
	background: #448ccb;
	display: block;
	width: 148px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	border-radius: 5px;
	text-transform: uppercase;
	color: #fff;
}
.news-list li{
	display: flex;
	margin-bottom: 30px;
}
.news-list li .content-right{
	margin-left: 30px;
}
.news-list li .content-right h3{
	line-height: 29px;
}
.news-list li .content-right h3 a{
	font-size: 16px;
	font-weight: bold;
	line-height: 0;
	color: #111111;
	text-transform: uppercase;
}
.news-more a.btn-kdg{
	font-weight: 500;
	font-family: 'Big Shoulders Text';
	color: #cccccc;
	text-transform: uppercase;
	font-size: 17px;
	border: 1px solid #cccccc;
	width: 128px;
	height: 36px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
/*========================== Bounty ================*/
.item-gift{
	background: #fff;
	border-radius: 5px;
	padding: 30px 30px 0 30px;
	display: flex;
	min-height: 375px;
	margin-bottom: 30px;
}
.left-colsz{
	margin-right: 30px;
	position: relative;
}
.left-colsz:after{
	position: absolute;
	left: 0;
	content: '';
	width: 1px;
	height: calc(100% - 85px);
	top: 85px;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: #565656;
}
.title-gift h4{
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.button_blind button{
	width: 140px;
	height: 45px;
	background: #fac800;
	border-radius: 22.5px;
	border: none;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	margin-top: 20px;
}
.item-gift ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.item-gift ul li{
	margin-bottom: 25px;
	font-size: 16px;
	position: relative;
	padding-left: 20px;
}
.item-gift ul li:before{
	position: absolute;
	left: 0;
	content: '';
	width: 8px;
	border-radius: 50%;
	height: 8px;
	top: 8px;
	background: #fac800;
}
.item-telegram ul li input, .input-mt{
	background: #c9c9c9;
	color: #fff;
	width: 100%;
	border-radius: 3px;
	border: none;
	padding: 5px 15px;
}
.item-twitter{
	min-height: 530px;
}
.item-zalo{
	min-height: 190px;
}
.item-user{
	min-height: 310px;
}
.box-vq{
	background: url('../images/bg-vq.png') no-repeat;
	background-size: cover;
	padding: 50px 0;
}
/*=========================== IGO ================*/
#main-content.igo-bg{
	background: #151515 url('../images/igo-bg.jpg');
	padding-top: 50px;
}
.title-igo{
	font-size: 64px;
	font-weight: bold;
	color: #fac800;
	font-family: 'Big Shoulders Text';
	text-align: center;
}
.sub-title-igo{
	color: #fff;
	font-size: 48px;
	font-family: 'Big Shoulders Text';
	font-weight: 500;
	text-align: center;
}
.line_hr{
	background: #fff;
	height: 1px;
	width: 155px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
}
.top-igo{
	max-width: 1000px;
	margin: 0 auto;
}
.top-igo p{
	color: #fff;
	font-size: 14px;
}
.box-hm{
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.hm-total{
	background: #fac800;
	border-radius: 5px;
	max-width: 380px;
	padding: 35px;
}
.hm-total h4{
	font-size: 25px;
	font-family: 'Big Shoulders Text';
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 25px;
	display: flex;
	align-items: center;
}
.hm-total h4 img{
	margin-right: 10px;
}
.hm-total p{
	color: #000000;
	font-size: 13px;
	margin-bottom: 7px;
}
.item-igo{
	background: #fff;
	min-height: 160px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.top-igo-box{
	border-bottom: 1px solid #cccccc;
	height: 50px;
	padding: 0 30px;
}
.list-igotime{
	margin-top: 100px;
}
.medium-igo-box{
	min-height: 110px;
	padding: 0 30px;
}
h5.round{
	font-family: 'Big Shoulders Text';
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 0;
}
.medium-igo-box span{
	color: #999999;
	font-size: 13px;
}
.medium-igo-box p{
	font-size: 18px;
	margin-bottom: 0;
}
.btn-buy-kdg{
	background: #fac800;
	width: 150px;
	height: 32px;
	border-radius: 16px;
	border: none;
	font-family: 'Big Shoulders Text';
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}
#block_countdown{
	display: flex;
}
.countdown_time{
	border: 1px solid #999999;
	height: 70px;
	width: 50px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
}
.countdown_time .box-tc{
	text-align: center;
	font-size: 18px;
}
.countdown_time p{
	font-size: 13px;
	margin-bottom: 0;
}
.box-percent{
	background: rgba(0,0,0,0.75);
	width: 100%;
	min-height: 108px;
	padding: 50px 30px;
}
.igo2-btn{
	background: #fac800;
	width: 240px;
	height: 52px;
	color: #000000;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Big Shoulders Text';
	border: none;
	border-radius: 26px;
}
.round-count-down .countdown_content{
	color: #fff;
	font-size: 18px;
}
/*========================= Top Bounty ===============*/
#main-content.top-bounty-bg{
	background: #000 url('../images/bg-top-bounty.png') no-repeat;
	background-position: top;
}
.top-bounty-2 .white-bg{
	background: #fff;
	padding: 20px 0 100px;
}
.top-bounty-2 ul li{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dbdbdb;
}
.top-bounty-2 ul{
	max-width: 700px;
	margin: 0 auto;
}
.spon-left .stt{
	display: block;
	flex: none;
	width: 36px;
	height: 36px;
	background: #d4ae6a;
	border-radius: 50%;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	margin-right: 20px;
}
.name-badge p{
	font-size: 14px;
	margin-left: 20px;
}
.spon-right p{
	font-size: 14px;
	margin-right: 15px;
}
.load-btn{
	font-size: 17px;
	font-family: 'Big Shoulders Text';
	font-weight: 500;
	min-width: 128px;
	height: 36px;
	line-height: 36px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	text-align: center;
	color: #cccccc;
	text-transform: uppercase;
}
.load-btn:hover{
	color: #cccccc;
}
/*=============================== TRANG CHU ==================*/
.top-dashboard{
	background: #151515;
	padding-top: 30px;
	max-height: 300px;
}
.board-left{
	width: 100%;
	float: left;
	max-width: 380px;
	border-radius: 5px;
	background: #fff;
	padding: 20px 25px;
	min-height: 168px;
}
.same-titleb{
	font-family: 'Big Shoulders Text';
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: 500;
	color: #000000;
}
.info-acc h5{
	font-size: 13px;
	font-weight: bold;
}
.info-acc p b{
	font-size: 16px;
}
.board-account img{
	margin-right: 20px;
}
.board-right{
	max-width: 770px;
	width: 100%;
	float: right;
	background: #fac800;
	border-radius: 5px;
	padding: 20px 30px;
}
.board-right ul li{
	max-width: 136.65px;
	width: 100%;
	border-radius: 5px;
	background: #fff;
	height: 84px;
	padding: 15px;
	position: relative;
}
.board-right ul li h5{
	font-family: 'Big Shoulders Text';
	font-size: 20px;
	font-weight: 500;
	color: #fac800;
}
.board-right ul li h5 span{
	font-size: 10px;
	font-family: 'Noto Sans', sans-serif;
}
.board-right ul li p{
	font-size: 21px;
	margin-bottom: 0;
}
.right-top-title a{
	color: #000000;
	font-size: 12px;
}
.banner-top{
	margin-top: 40px;
}
.main-home-news{
	margin-top: 120px;
}
.item-news-kdg{
	margin-bottom: 30px;
}
.item-news-kdg h3{
	line-height: 0;
	margin: 15px 0;
}
.item-news-kdg h3 a{
	font-size: 21px;
	font-weight: bold;
	font-family: 'Big Shoulders Text';
	color: #111111;
	line-height: 29px;
}
.item-news-kdg p{
	color: #888888;
	line-height: 24px;
}
.read-more a{
	background: #fac800;
	display: block;
	font-family: 'Big Shoulders Text';
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	width: 96px;
	height: 36px;
	text-align: center;
	border-radius: 5px;
	line-height: 36px;
}
.b-lock{
	position: absolute;
	top: 30px;
	right: 15px;
	font-size: 12px;
	color: #aaaaaa;
}
.language-box ul li img{
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
.language-box{
	margin-left: 30px;
}
.language-box ul li a{
	font-size: 13px;
	color: #fff;
}
.language-box ul li .dropdown-menu a{
	color: #000;
}
/*================================= BANG XEP ==============*/
#wrapper.page-rank{
	background: url('../images/main-bg.jpg');
}
#wrapper.page-rank #main-content{
	background: transparent;
	margin-top: 30px;
}
#rank-tab{
	border: none;
	display: flex;
	justify-content: space-between;
}
#rank-tab li{
	max-width: 285px;
	width: 100%;
	height: 64px;
}
#rank-tab li a{
	background: #444444;
	color: #999999;
	font-size: 20px;
	font-family: 'Big Shoulders Text';
	font-weight: 500;
	border: none;
	height: 64px;
	line-height: 64px;
	padding: 0;
	text-align: center;
	border-radius: 0;
}
#rank-tab li.active a{
	background: #fac800;
	color: #000000;
}
#rank-tab li a:hover{
	border: none;
}
#tab-rank-content{
	background: #fff;
	border: none;
	margin-top: 10px;
	border-radius: 5px;
	padding-bottom: 50px;
}
#tab-rank-content ul li.title-table-rank{
	border-bottom: 1px solid #dbdbdb;
	padding: 0 30px;
	justify-content: space-between;
	display: flex;
	height: 60px;
	align-items: center;
}
#tab-rank-content ul li:not(:first-child){
	justify-content: space-between;
	display: flex;
	padding: 15px 30px;
	align-items: center;
}
#tab-rank-content ul li h5{
	font-size: 14px;
	margin-right: 30px;
}
#tab-rank-content ul li p{
	font-size: 14px;
	margin-right: 30px;
}
.title-table-rank h4{
	color: #777777;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Noto Sans', sans-serif;	
	margin-bottom: 0;
}
#tab-rank-content ul li:not(:first-child) span{
	text-align: center;
	min-width: 35px;
}
.star-badge{
	background: url('../images/icon/ic-star-gold.png');
	width: 39px;
	height: 36px;
	display: block;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
}
.star-silver{
	background: url('../images/icon/ic-star-silver.png') !important;
	width: 35px;
	height: 36px;
}
.star-cooper{
	background: url('../images/icon/ic-star-cooper.png') !important;
	width: 35px;
	height: 36px;
}